---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'DeFi Protocol',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Tinyman',
        href: 'https://app.tinyman.org/liquid-stake?view=stake',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Myth.Fi',
        href: 'https://myth.finance/dualSTAKE',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Ekubo.org',
        href: 'https://app.ekubo.org/starknet/rewards',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Morpho',
        href: 'https://app.morpho.org/ethereum/earn',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Staking',
        href: '/d-1',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Algorand Staking
    </Fragment>

    <Fragment slot="subtitle">
     <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/ALGOUSD/?exchange=COINBASE" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"></span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
  {
  "lineWidth": 2,
  "lineType": 0,
  "chartType": "area",
  "fontColor": "rgb(106, 109, 120)",
  "gridLineColor": "rgba(255, 255, 255, 0.06)",
  "volumeUpColor": "rgba(34, 171, 148, 0.5)",
  "volumeDownColor": "rgba(247, 82, 95, 0.5)",
  "backgroundColor": "rgba(4, 4, 34, 1)",
  "widgetFontColor": "rgba(255, 255, 255, 1)",
  "upColor": "#22ab94",
  "downColor": "#f7525f",
  "borderUpColor": "#22ab94",
  "borderDownColor": "#f7525f",
  "wickUpColor": "#22ab94",
  "wickDownColor": "#f7525f",
  "colorTheme": "dark",
  "isTransparent": true,
  "locale": "en",
  "chartOnly": false,
  "scalePosition": "right",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "valuesTracking": "1",
  "changeMode": "price-and-percent",
  "symbols": [
    [
      "COINBASE:ALGOUSD|1M"
    ]
  ],
  "dateRanges": [
    "1d|1",
    "1m|30",
    "3m|60",
    "12m|1D",
    "60m|1W",
    "all|1M"
  ],
  "fontSize": "10",
  "headerFontSize": "medium",
  "autosize": false,
  "width": "100%",
  "height": 550,
  "noTimeScale": false,
  "hideDateRanges": false,
  "hideMarketStatus": false,
  "hideSymbolLogo": false
}
  </script>
</div>
<!-- TradingView Widget END -->
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="What is Algorand?"
    subtitle="Algorand is a blockchain platform powered by its native cryptocurrency, ALGO, which uses a Pure Proof-of-Stake (PPoS) consensus mechanism. It aims to provide fast, low-cost, and secure transactions, with the goal of building a decentralized financial ecosystem and serving as a platform for smart contracts and dApps. ALGO can be used for peer-to-peer transfers, paying transaction fees, staking to secure the network, and participating in governance."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

 
  
</Layout>
