---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Bitcoin Staking',
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68f5508a4f065effd6283e6b&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'App.Lido.fi',
        href: 'https://stake.lido.fi/',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Hermetica',
        href: 'https://app.hermetica.fi/portfolio',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Velar',
        href: 'https://velar.com/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Asigna',
        href: 'https://www.asigna.io/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Staking',
        href: '/defi/ethereum.1',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Ethereum DeFi
    </Fragment>

    <Fragment slot="subtitle">
   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "CRYPTO:ETHUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:BNB",
      "title": ""
    },
    {
      "proName": "COINBASE:GNOUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:MATICUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:FTMUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:AVAXUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:OP",
      "title": ""
    },
    {
      "proName": "COINBASE:ARBUSD",
      "title": ""
    },
    {
      "proName": "BITFINEX:CELOUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:MOVRUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCOM:CROUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:BOBAUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:METISUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:GLMRUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:FUSEUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:KAIA",
      "title": ""
    },
    {
      "proName": "OKX:ASTRUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:IOTXUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:RIFUSD",
      "title": ""
    },
    {
      "proName": "RAYDIUM:SELFIESOL_DFK133",
      "title": ""
    },
    {
      "proName": "CRYPTO:TLOSUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:ARBUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:CANTOUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:DOGE",
      "title": ""
    },
    {
      "proName": "COINBASE:KAVAUSD",
      "title": ""
    },
    {
      "proName": "OKX:CFXUSD",
      "title": ""
    },
    {
      "proName": "OKX:ZKUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:RONINUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:CORED",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:WEMIX",
      "title": ""
    },
    {
      "proName": "COINBASE:FLRUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:OASUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:ZORAUSD",
      "title": ""
    },
    {
      "proName": "CRYPTO:BASEXUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:LINEA",
      "title": ""
    },
    {
      "proName": "CRYPTO:MNTUSD",
      "title": ""
    },
    {
      "proName": "BITMEX:BMANTAT",
      "title": ""
    },
    {
      "proName": "OKX:SCRUSD",
      "title": ""
    },
    {
      "proName": "BINANCE:OPBTC",
      "title": ""
    },
    {
      "proName": "UNISWAP:SWETH_DC1C06",
      "title": ""
    },
    {
      "proName": "CRYPTO:MODEUSD",
      "title": ""
    },
    {
      "proName": "BITSTAMP:ZETAUSD",
      "title": ""
    }
  ],
  "colorTheme": "dark",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showSymbolLogo": true,
  "displayMode": "compact"
}
  </script>
</div>
<!-- TradingView Widget END -->

 <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/0335fa00-98a6-45ee-9f93-82a6ebf16eba/VFleIv43iT.lottie" speed="1" style="width: 100%; height: 550px" mode="forward" loop autoplay></dotlottie-wc>
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Stake Your Ethereum, Earn Reward"
    subtitle="ETH staking is locking up your Ether (ETH) to help secure the Ethereum network and validate transactions, earning you passive income (more ETH) as rewards, similar to earning interest in a bank, after Ethereum switched to a Proof-of-Stake system. You become a validator, and by staking (committing) your ETH, you help maintain the blockchain's integrity, decentralization, and security while getting paid for it."
  >
   
  </Features2>

  <!-- Stats Widget ****************** -->
</Hero>

  <!-- Note Widget ******************* -->
 <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "d8136106-354a-4734-adb1-21da70253c66"
  });
</script>
 
  
</Layout>
