---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Arbitrum Chart Price',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: '1inch',
        href: 'https://app.1inch.io/',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'Matcha',
        href: 'https://matcha.xyz/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'AirSwap',
        href: 'https://www.airswap.xyz/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Slingshot',
        href: 'https://slingshot.app/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Sushi',
        href: 'https://www.sushi.com/',
        icon: 'tabler:link',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Arbitrum Chart Price
    </Fragment>

    <Fragment slot="subtitle">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
 <div id="debridgeWidget"></div>
<script src="https://app.debridge.finance/assets/scripts/widget.js"></script>
<script>
deBridge.widget({"v":"1","element":"debridgeWidget","title":"STKN","description":"","width":"600","height":"700","r":null,"supportedChains":"{\"inputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"9745\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"},\"outputChains\":{\"1\":\"all\",\"10\":\"all\",\"56\":\"all\",\"100\":\"all\",\"137\":\"all\",\"146\":\"all\",\"747\":\"all\",\"999\":\"all\",\"1329\":\"all\",\"1514\":\"all\",\"2741\":\"all\",\"5000\":\"all\",\"8453\":\"all\",\"9745\":\"all\",\"32769\":\"all\",\"42161\":\"all\",\"43114\":\"all\",\"50104\":\"all\",\"59144\":\"all\",\"60808\":\"all\",\"80094\":\"all\",\"999999\":\"all\",\"7565164\":\"all\",\"245022934\":\"all\",\"728126428\":\"all\"}}","inputChain":56,"outputChain":1,"inputCurrency":"","outputCurrency":"","address":"","showSwapTransfer":true,"amount":"","outputAmount":"","isAmountFromNotModifiable":false,"isAmountToNotModifiable":false,"lang":"en","mode":"deswap","isEnableCalldata":false,"styles":"e30=","theme":"dark","isHideLogo":false,"logo":"","disabledWallets":[],"disabledElements":[]}) 
</script>
      <span class="font-semibold"> </span> 
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Arbitrum DeFi Ecosystem"
    subtitle="DeFi is the movement that leverages decentralized networks to transform old financial products into trustless and transparent protocols that run without intermediaries. We have 188 DeFi projects listed and 49 of them built on Arbitrum."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

 
  
</Layout>
