---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/e415d6b6-be38-4a93-bb4a-5ba17229eb22/VlRwgVXERM.lottie" speed="1" style="width: 80px; height: 80px" mode="forward" loop autoplay></dotlottie-wc>
</span>
