---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/c996141d-f1d6-4dbb-bca9-b2e2d440fd65/vHlC7dGbNW.lottie" speed="0.5" style="width: 54px; height: 54px" mode="forward" loop autoplay></dotlottie-wc>
</span>
