---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/65e58092-6ba3-442a-98e7-e5f64333aa52/74N1S9IqgM.lottie" speed="1" style="width: 100px; height: 100px" mode="forward" loop autoplay></dotlottie-wc>
</span>
