---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/0640c665-c9cc-49a9-bb27-61363bbe2e09/4rmjE4ep81.lottie" speed="1" style="width: 110px; height: 110px" mode="forward" loop autoplay></dotlottie-wc>
</span>
