---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/52ecf2e3-2a7d-4abd-acfd-cd5748e477e6/DxW07OanUI.lottie" speed="1" style="width: 120px; height: 120px" mode="forward" loop autoplay></dotlottie-wc>
</span>
